body{
  background-color: #1E0A0C;
  margin: 0 auto;
  width: 100%;
}

/*top login bar and styles*/
.loginBar {
  background-color: black;
  height: 40px;
}

.login {
  float: right;
}

.logtwo {
  float: right;
  margin-right: 0px;

}

.liButton {
  display: inline;
  margin-right: 85px;
  color: #BC6028;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
}

.liButtonT {
  display: inline;
  margin-left: 20px;
  margin-right: 15px;
  color: #BC6028;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;

}
/*second bar and styles*/
.secondBar {
  height: 60px;
  background-color: #1E0A0C;
}

.twoliButton {
  float: none;
  display: inline;
  margin-left: 85px;
  margin-right: 85px;
  color: #fffdd0;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
}

.twologin {
  float: right;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
/*third bar and styles*/
.thirdBar {
  height: 40px;
  background-color: #fffdd0;
}

.threeliButton {
  display: inline;
  margin-right: 40px;
  margin-left: 80px;
  color: #9B3206;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
}

.threelogin {
  float: right;
  margin-right: 40px;
  padding-left: 0px;
  margin-top: 1px;
}

a {
  text-decoration: none;
}


/*logobox logo and img and styles*/
.logo {
  position:absolute;
  clear: left;
  height: 250px;
  width: 250px;
  margin-left: 7%;
  background-size: contain;
  background-image: url(http://www.robertsasaki.com/images/Logo_500.png);
  margin-top: -920px;

}


.slideshow {
float:none;
position:relative;
margin-top: -1%;

}

/*mainbox bgimg and styles*/
.main {
  float:center;
  height: 800px;
  width: 100%;
  border-bottom: 2px solid white; 



}
/*ad menuebox and styles*/

.bodycontentright {
float: right;
width: 800px;
margin-right: 5%;
margin-top: -50%;
}

.admenue {
  position: relative;
  border: 1px solid black;
  height: 300px;
  margin-top: 19%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(63,42,20,0.5);
}


.adtext2 {
position: relative;
font-family: 'Raleway', sans-serif;
font-size: 14px;
color: white;
text-shadow: 2px 2px 8px #000000;
line-height: 190%;
text-align: left;
padding: 20px;
letter-spacing: 1px;

}


.leftcontent {
float: left;
position: relative;
width: 400;
margin-left: 8%;
margin-top: -40%

}

.contact {
position: relative;
font-family: 'Merriweather Sans', bold;
color: #fffdd0;
font-size: 12px;
letter-spacing: 3px;
line-height: 200%;
text-shadow: 2px 2px 6px #000000;

}

.calendar {
  float: right;
  position: relative;
  bottom: 25%;
  left:6%;

}